{% extends "base.html" %}
{% block body %}


<div class="align-right">
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            + Create Message
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.text_message.label }}<br>
                    {{ form.text_message(size=32) }}<br>
                    {% for error in form.text_message.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
</div>
<h1 class="heading-lv1">Products</h1>

<div class="table-app" id="product-table-app">
    <div class="table-handler">
        <div class="table-handler-dropdown-cell">
            <div class="dropdown">
                <h3 class="dropdown-heading">
                    <i class="fas fa-filter"></i> Brand
                </h3>
                <select class="select js-handle-table js-filter" id="filter-brand">
                    <option value="all">All</option>
                </select>
            </div>
        </div>

        <div class="table-handler-dropdown-cell">
            <div class="dropdown">
                <h3 class="dropdown-heading">
                    <i class="fas fa-filter"></i> Category
                </h3>
                <select class="select js-handle-table js-filter" id="filter-category">
                    <option value="all">All</option>
                </select>
            </div>
        </div>

        <div class="table-handler-dropdown-cell">
            <div class="dropdown">
                <h3 class="dropdown-heading">
                    <i class="fas fa-sort-amount-up-alt"></i> Sort by
                </h3>
                <select class="select js-handle-table" id="sort-by">
                    <option value="none"> - </option>
                    <option value="price">Price</option>
                    <option value="created_at">Created at</option>
                    <option value="updated_at">Updated at</option>
                </select>
            </div>
        </div>

        <div class="table-handler-dropdown-cell">
            <!-- TODO: add label and create style -->
            <input type="checkbox" class="js-handle-table" id="toggle" value="hiding-out-of-stock" />
            <label for="toggle">Hiding out-of-stock products</label>
        </div>
    </div>



    <!-- /.table-handler -->

    <div class="table-wrapper">
        <table class="table" id="table">
            <thead>
                <tr class="table-head">
                    <th class="table-cell align-right">ID</th>
                    <th class="table-cell align-left">Message</th>
                    <th class="table-cell align-left">Creator Email</th>
                    <th class="table-cell align-left">Send Status</th>
                    <th class="table-cell align-left">Create At</th>
                    <th class="table-cell align-right">Updated At</th>
                </tr>
            </thead>

            <tbody>
                <!-- Loop -->
                {% for message in messages %}
                <tr>
                    <th scope="row">{{message.id}}</th>
                    <td>{{message.text_message}}</td>
                    <td>{{message.email}}</td>
                    <td>{{message.sent_boolean}}</td>
                    <td>{{message.created_on.strftime('%Y-%m-%d')}}</td>
                    <td>{{message.last_login}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="no-results hidden" id="no-results">
            <p class="no-results-message">
                No results found.
            </p>
        </div>
        <!-- /#no-results -->
    </div>
    <!-- /.table-wrapper -->
</div>


<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
{% endblock body%}