BASEDIR=/ms_dashboard/
SMS_DASHBOARD_COOKIE=sms_dashboard_cookie_name
SECRET_KEY=

USERNAME=
API_KEY=

SQLALCHEMY_TRACK_MODIFICATIONS=
SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://<username>:<password>@localhost/<database_name>
SQLALCHEMY_DATABASE_URI_DEV=postgresql+psycopg2://<username>:<password>@localhost/<dev_database_name>
SQLALCHEMY_DATABASE_URI_TEST=postgresql+psycopg2://<username>:<password>@localhost/<test_database_name>
