{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block pagestyles %}
<link href="{{ url_for('static', filename='dist/css/account.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="formwrapper">
  <div class="row">
    <div class="col-md-4">
      {{ wtf.quick_form(form) }}
    </div>
  </div>
  <br>
  <div class="loginsignup">
    <span>Already have an account?
      <a href="{{ url_for('main_bp.login') }}">
        <input class="btn btn-default" id="submit" name="submit" type="submit" value="Login">
      </a>
      <span>
  </div>
</div>
{% endblock %}